@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #2b2b2b;
}
/* Navbar Styles */
.navbar{
    height: 5rem;
    width: 60%;
    background-color: #333333b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    padding: 0 20px;
    margin-top: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #ff6347;
}

.login-link{
    background-color: #ff6347;
    padding: 8px 12px;
    border-radius: 4px;
}

.login-link:hover{
    background-color: #ff4500;
}

.logo-container{
    width: 100px;
}

.logo-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.left-logo{
  height: 70px;
    order: 1;
}

.right-logo{
  height: 90px;
    order: 3;
}

nav{
    order: 2;
}

/* Hero Section */
.hero {
  margin-bottom: 0;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.home-btn{
  width:8%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color: #000;
  text-decoration: none;
}

/* Section Styles */
section {
  padding: 10px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

.service-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #333333b5;
  display: inline-block;
}

.Contact-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #333333b5;
  display: bottom;
}

html {
  scroll-behavior: smooth;
}