<div class="middle-navbar">
  <div class="middle-navbar-container">
    <!-- Left: HCC Logo -->
    <div class="middle-navbar-left">
      <img src="../assets/icons/hcc logo.png" alt="HCC Logo" class="middle-navbar-logo" />
    </div>

    <!-- Center: Company Banner -->
    <div class="middle-navbar-center">
      <img src="../assets/icons/HCC.png" alt="Harihar Cargo Carriers" class="middle-navbar-banner" />
    </div>

    <!-- Right: Contact Info -->
    <div class="middle-navbar-right">
      <a href="https://wa.me/919372693389" target="_blank" class="middle-contact-item whatsapp-link">
        <i class="fab fa-whatsapp"></i>
        <span>+91 9372693389</span>
      </a>
      <a href="mailto:info@hariharcarcarriers.com" class="middle-contact-item email-link">
        <i class="fas fa-envelope"></i>
        <span>info@hariharcarcarriers.com</span>
      </a>
    </div>
  </div>
</div>
