
        .theme-toggle-left {
            position: fixed;
            top: 24px;
            left: 110px;

            width: 42px;
            height: 42px;

            border-radius: 50%;
            border: none;

            background: #222;
            color: #fff;

            font-size: 18px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            box-shadow: 0 4px 10px rgba(0,0,0,0.3);
            z-index: 1000;
        }

        body.dark-theme {
            background-color: #121212;
            color: #eaeaea;
        }

        body.dark-theme .login-auth-card {
            background: #1e1e1e;
        }

        body.dark-theme input {
            background: #2a2a2a;
            color: #fff;
            border-color: #444;
        }

        body.dark-theme .theme-toggle-left {
            background: #f5f5f5;
            color: #111;
        }
